@import url("https://fonts.googleapis.com/css2?family=Cairo&family=Lato&family=Montserrat&family=Roboto:ital,wght@0,400;0,500;0,700;1,100;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
  font-weight: bold;
}
body {
  background-color: #ddddde;
  overflow-x: hidden;
}

.container {
  background-color: #c8c3c2;
  max-width: 1100px;
  margin: 25vh auto 0;
  padding: 50px 10px;
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-Questions {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #373f53;
  font-size: 20px;
}
.score {
  background-color: #5b518a;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.score button {
  font-size: 25px;
  background-color: #2f3c7e;
  mix-blend-mode: hard-light;
  color: #fff;
  padding: 15px 50px;
  border-radius: 6px;
  border: 0;
  outline: none;
  cursor: pointer;
  margin-top: 30px;
}
.score p {
  color: #fff;
  font-size: 40px;
}
.choice {
  background-color: #fff;
  border-radius: 5px;
  margin-top: 30px;
  padding: 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
label {
  margin-left: 20px;
  font-size: 20px;
  color: #373f53;
  font-weight: bold;
}
label code {
  word-break: break-all;
}
input {
  position: relative;
}
input::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #fff;
  border: 1px solid #373f53;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  cursor: pointer;
}
input::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #373f53;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
input:checked::before {
  z-index: 10;
}
.question {
  display: none;
}
#next {
  font-size: 25px;
  margin: 30px auto 0;
  display: block;
  padding: 15px 50px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  border: none;
  outline: none;
  background-color: #2f3c7e;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
@media (max-width: 767px) {
  button {
    margin: 20px auto 0;
  }
}
span {
  display: block;
  font-size: 30px;
  margin-bottom: 30px;
  color: #373f53;
  font-weight: bold;
}
@media (max-width: 767px) {
  span {
    font-size: 23px;
  }
}
